# /etc/default/tftpd-hpa

TFTP_USERNAME="{{ tftp_username }}"
TFTP_DIRECTORY="{{ tftp_root_directory }}"
TFTP_ADDRESS=":{{ tftp_port }}"
TFTP_OPTIONS="{{ tftp_options }}"
RUN_DAEMON="{{ tftp_daemon }}"
OPTIONS="-l -s {{ tftp_root_directory }}"

